.lobby {
  height: 100%;
  background: linear-gradient(to right, rgb(56, 14, 44) , rgb(40, 20, 43));
}

.game-lobby {
  color: rgb(255, 241, 0);
  display: block;
}

.select-game {
  color: white;
  display: block;
}

.game-list > * {
  margin-top: 20px;
}
