.score-view__header{
    margin: 0.5rem;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    > * {
        margin: 0 .5rem;
    }
    .scoreTally {
        align-self: center;
        font-size: 1.34rem;
        color: #FFF;
        font-weight: 700;
    }
}

.score-view__field {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
    width: 100%;
    max-width: 290px;
    margin: 0 auto;

    &.default {
        background-image: url(../../assets/scoreboard-field.png);
    }
}