@import '../../variables';

.game-card {
  position: relative;
  margin-bottom: 1rem;

  .game-bg {
    height: 53px;
    background: url(../../assets/gameholder_on.png) no-repeat center center;
    background-size: contain;
  }

  .game-details {
    text-align: left;
    height: 52%;
    color: white;
    font-size: 0.7em;
    background: $dark-purple;
    padding: 25px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.is-selected {
      background: $blue;
    }
  }
}

.game-countries {
  position: absolute;
  width: 60%;
  height: 47%;
  z-index: 1000;
  top: 15%;
  left: 40%;

  display: flex;
  justify-content: space-around;
}

.game-vs {
  align-self: flex-end;
  color: rgb(255, 241, 0);
}
