@import '../../variables';

.country {
  background-size: cover;
  height: 80px;
  background-position: center;
  width: 80px;
  border-radius: 50%;
  
  &.team-home {
    border: 5px solid $danger;
  }
  
  &.team-away {
    border: 5px solid $success;
  }

  &.england {
    background-image: url('../../assets/england_icon.png');
  }
  
  &.france {
    background-image: url('../../assets/france_icon.png');
  }
  
  &.italy {
    background-image: url('../../assets/italy_icon.png');
  }
  
  &.wales {
    background-image: url('../../assets/wales_icon.png');
  }
  
  &.scotland {
    background-image: url('../../assets/scotland_icon.png');
  }
  
  &.ireland {
    background-image: url('../../assets/ireland_icon.png');
  }

  &.bordered{
    border-style: solid;
    border-color: $green;
    border-width: thin;
  }
}