@font-face {
  font-family: 'WHHoxtonWeb';
  src: url(./assets/WHHoxtonWeb-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'WHHoxtonWeb';
  src: url(./assets/WHHoxtonWeb-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

.App-intro {
  font-size: large;
}

.rugby-main {
  display: flex;
  flex-direction: row;
}

.rugby-content {
  background: url(./assets/bg_home.png) no-repeat center center fixed;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  overflow-y: auto;
}

.rugby-nav {
  overflow: hidden;
  width: 85px;
}

html, body, .App, #root, .rugby-main {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #0a1533;
  font-family: 'WHHoxtonWeb';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
