.App-header {
  background-color: #2d9cdb;
  padding: 5px 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.rugby-main {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.rugby-content {
  flex-grow: 1;
  overflow-y: auto;
}

.rugby-nav {
  width: 25%;
  overflow: none;
}

html, body, .App, #root, .rugby-main {
  height: 100%;
  overflow: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
