@import './variables';

@font-face {
  font-family: 'WHHoxtonWeb';
  src: url(./assets/WHHoxtonWeb-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'WHHoxtonWeb';
  src: url(./assets/WHHoxtonWeb-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

html, body, .App, #root, .rugby-main {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #0a1533;
  font-family: 'WHHoxtonWeb' !important;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.caps {
  text-transform: uppercase;
}

*.has-error {
  border-bottom: 1.5px solid $danger !important;
  color: $danger !important;

  &::placeholder {
    color: $danger !important;
  }
}

button {
  &:disabled {
    background-color: rgba(100, 100, 100, 0.3) !important;
    border-color: transparent !important;
  }
}

*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}

::placeholder {
  color: $white;
}

@import 'variables';