@import '../../variables';

.team-player {
  color: $white;
  transition: 0.5s;
  padding: 0.2rem 0 0.2rem 0;
  position: relative;

  &.is-active {
    background: $blue;
    color: $white;

    &:nth-child(odd) {
      box-shadow: none;
    }

    .team-player__user {
      .team-player__user-name {
        &.player-taken {
          color: $white;
        }
      }
    }

    @include active-element {
      box-shadow: none;
      background: darken($blue, 5%);
    }
  }
  
  &:nth-child(odd) {
    box-shadow: inset -0.5rem -0.25rem 4.5rem  0.1rem rgba($black, 0.75);
  }

  @include active-element {
    box-shadow: inset 0 -1rem 2rem 0.5rem rgba($blue, 0.4);
  }

  p {
    margin: 0;
  }

  .team-player__avatar {
    float: left;
	padding: 0 1rem;

    .team-player__avatar-pic {
      background-size: cover;
      display: block;
      float: left;
	  width: 3rem;
	  height: 3rem;
      border-radius: 100%;
      border: 1.5px solid $white;
    }
  }

  .team-player__user {
    padding-left: 2.5rem;
	padding-top: .49rem;

    p {
      margin: 0;
    }

    .team-player__user-avatar {
      @include ellipsis-text;
	  line-height: 1;
	  text-align: left;
    }

    .team-player__user-name {
      color: $gray-500;
	  text-align: left;

      &.player-taken {
        color: $blue;
      }
    }
  }
}