@import '../../variables';

.gamedetails-view__header{
    padding: 1rem 1rem 0 1rem;
    text-align: left;

    h2 {
        color: $wh-primary-text-color;
        font-weight: 700;
        margin-bottom: 0;
        @include ellipsis-text;
    }

    p{
        text-transform: uppercase;
        font-size: 1.125rem;
        color: $white;
        font-weight: 700;
        margin: 0;
        line-height: 1.2;
    }
}

.team-description {
    padding-left: 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;

    &.defense {
        color: $green;
    }

    &.offense {
        color: $red;
    }
}

.teamMissionDescription{
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 00.85rem;
    font-weight: 700;
    color: $white;
    text-align: justify;
    line-height: 1.2;
}

.player-badge {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: .25rem;
    right: 0;

    &.vote {
        bottom: .5rem;
        right: .5rem;
        border-radius: 100%;
        background: $danger;
        display: flex;
        justify-content: center;

        > span {
            align-self: center;
        }
    }

    &.ball {
        background-image: url(../../assets/ball.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.receive {
            opacity: 0.4;
        }
    }
}

.turnResultDisplay{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 70px;
    width: 100%;

    &.missed {
        background-image: url('../../assets/missed_tackle.png');
    }

    &.tackled {
        background-image: url('../../assets/tackled.png');
    }

    &.try {
        background-image: url('../../assets/try.png');
    }

    &.default {
        height: 0px;
    }
}

.country-name {
    text-transform: capitalize;
}
