.gamecreate-header{
	padding: 1rem 1rem 0 1rem;
	text-align: left;
	
	h2{
		text-transform: uppercase;
		color: #FFF200;
		font-weight: 700;
		margin-bottom: 0;
	}
	
	p{
		font-size: 1.34rem;
		color: #FFF;
		font-weight: 700;
	}
}
.teamlist-div{
	.team-div{
		text-align: center;
		margin-bottom: .3rem;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		
		.team-name{    
			float: left;
			margin: 0;
			width: 0;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			left: 0;
			padding-left: .5rem;
			font-size: 1.15rem;
		}
		
		img{
			width: 30%;
		}
		
		.team-label{
			display: inline-block;
			width: -12%;
			color: #fff;
			line-height: 1;
			text-align: center;
			position: absolute;
			top: 20%;
			left: 75%;
			
			span{
				text-align: center;
				font-weight: bold;
				text-transform: uppercase;
				
				label{
				    display: block;
					font-size: 2.5rem;
				}
			}
		}
	}
	.england_off{
		background-image: url('../../assets/teams/england_off.png');
	}
	.england_on{
		background-color: #00AEEF;
		background-image: url('../../assets/teams/england_btn.png')!important;
	}
	.france_off{
		background-image: url('../../assets/teams/france_off.png');
	}
	.france_on{
		background-color: #00AEEF;
		background-image: url('../../assets/teams/france_btn.png');
	}
	.ireland_off{
		background-image: url('../../assets/teams/ireland_off.png');
	}
	.ireland_on{
		background-color: #00AEEF;
		background-image: url('../../assets/teams/ireland_btn.png');
	}
	.italy_off{
		background-image: url('../../assets/teams/italy_off.png');
	}
	.italy_on{
		background-color: #00AEEF;
		background-image: url('../../assets/teams/italy_btn.png');
	}
	.scotland_off{
		background-image: url('../../assets/teams/scotland_off.png');
	}
	.scotland_on{
		background-color: #00AEEF;
		background-image: url('../../assets/teams/scotland_btn.png');
	}
	.wales_off{
		background-image: url('../../assets/teams/wales_off.png');
	}
	.wales_on{
		background-color: #00AEEF;
		background-image: url('../../assets/teams/wales_btn.png');
	}
}

/* .game-list{
	margin-top: 75px;
}

.game-label{
	font-size: 19px;
    padding: 0px 0px 0px 25px;
	margin-bottom: 45px;
}
.game-label h6{
	font-size: 19px;
}

.game-btns button{
	width: 42%;
    padding: 12px;
}

.createGame-cont{
	margin:50px 0;
}

.btn-group{
    width: 100%;
}

.btn-group button{
	color: #a9a9a9!important;
    background-color: #fff!important;
    border-radius: 0;
    text-align: left;
	width: 100%;
    border-color: #a9a9a9!important;
}

.btn-group button:after{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    float: right;
    margin-top: 10px;
}

.createGame-btn{
	width: 100%;
    margin-top: 40px;
    padding: 10px 0px;
    text-transform: uppercase;
} */
